.sommaire-title {
  position: relative;
  font-family: "Manuscrite";
  color: black;
  margin: 0;
  padding: 0;
  font-size: 5.9vw;
  padding-left: 1%;
  /*text-shadow: 1px 1px 8px rgba(247, 91, 0, 0.877);*/
}

.sommaire-title::after {
  content: '';
  display: block;
  height: 0.05em;
  width: 70%;
  position: absolute;
  bottom: 0.444em;
  left: 5%;
  background: linear-gradient(90deg, black 60%, transparent);
}

.sommaire {
  height: 100%;
  width: 100%;
  background: rgb(255, 237, 195);
  border: solid 1px goldenrod;
}

 :host {
  width: 50%;
}