<span *ngIf="!loaded" class="loader"></span>
<div class="conteneur" *ngIf="loaded" [ngStyle]="{'background-color': infos?infos.backgroundColor:''}">
  <div class="livre" [@centre]="page==0?'centre':page==nbPages?'centre-droit':'droit'">
    <feuille *ngFor="let feuille of feuilles; let idx = index" [feuille]="feuille" [start]="start.bind(this)" [pageHandler]="pageHandler" [end]=" end.bind(this)" [previousPage]="previousPageFunction.bind(this)" [nextPage]="nextPageFunction.bind(this)">
    </feuille>
  </div>
</div>