:host {
  width: 50%;
}

.changePage {
  width: 3vw;
  height: calc(100% - 2px);
  padding: 0;
  padding-top: -0.5em;
  position: absolute;
  opacity: 0.4;
  background: rgb(12, 12, 12);
  border: none;
  font-family: "Manuscrite";
  color: goldenrod;
  font-size: 5em;
}

.changePage:hover {
  opacity: 0.9;
}

.changePage.recto {
  left: 0;
  transform: translateY(1px);
}

.changePage.verso {
  right: 0;
  transform: translateY(1px);
}