.couverture-title {
  font-family: "Manuscrite";
  color: goldenrod;
  margin: 0;
  font-size: 5.9vw;
  text-shadow: 0px 0px 30px #000
}

.couverture {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/cuire.jpg');
  border: solid 1px goldenrod;
}

.description:focus {
  outline: none !important;
  border-color: transparent;
}

.description {
  height: 80%;
  width: 80%;
  background: transparent;
  color: white;
  resize: none;
  border: none;
}

:host {
  flex: 1;
  width: 50%;
}